@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-neutral-900: #8163b1;
  --color-neutral-800: hsl(226, 25%, 17%);
  --color-neutral-700: hsl(225, 23%, 24%);
  --color-neutral-600: hsl(226, 11%, 37%);
  --color-neutral-300: hsl(0, 0%, 78%);
  --color-neutral-200: hsl(217, 61%, 90%);
  --color-neutral-100: hsl(0, 0%, 93%);
  --color-neutral-0: hsl(200, 60%, 99%);
  --color-bg-dark: #121212;
  --color-dark-accent: hsl(240 3.7% 15.9%);
  --color-dark-accent-forgrand: hsl(0 0% 98%);
  --color-light-accent: hsl(240 4.8% 95.9%);
  --color-light-accent-forgrand: hsl(240 5.9% 10%);
  --color-Red-400: hsl(2, 86%, 64%);
  --color-Red-500: hsl(3, 71%, 56%);
  --color-Red-700: hsl(3, 77%, 44%);
  --color-light-from: #ebf2fc;
  --color-light-to: #eef8f9;
  --color-dark-from: hsl(263 31% 15%);
  --color-dark-to: #091540;
  --color-border: #2c2c2c;
  --color-border-light: hsl(240 5.9% 90%);

  --text-paragraph: 16px;
}

html,
body {
  transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
